* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8b4b4b;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  #dice-container {
    margin-bottom: 20px;
  }
  
  #dice-image {
    width: 20x;
    height: 20px;
  }
  
  #dice-number {
    font-size: 24px;
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  